ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: lightgray;
  color: white;
  width: 1000px;
}

li {
  float: left;
}

li:not(:first-child) {
  margin-left: 10px;
}
